:root {
    --text: #e5e3d6;
    --background: #13140c;
    --primary: #c5cd7a;
    --secondary: #c7c9a6;
    --accent: #a2d0c1;

    --size-base: clamp(1rem, 1vw, 1.25rem);
    --size-l: clamp(1.25rem, 1.25vw, 1.5rem);
    --size-xl: clamp(1.5rem, 1.5vw, 1.75rem);
    --size-2xl: clamp(1.75rem, 1.75vw, 2rem);
    --size-3xl: clamp(2rem, 2vw, 2.25rem);
    --size-4xl: clamp(2.25rem, 2.25vw, 2.5rem);
    --size-5xl: clamp(2.5rem, 2.5vw, 3rem);
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

header {
    background: rgb(from var(--background) r g b / 0.9);
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 10000000;
}

main {
    min-height: 100vh;
}

footer {
    width: 100vw;
    background: #000000;
}

a {
    text-decoration: none;
}

strong {
    color: var(--primary);
    font-size: var(--size-4xl);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

.container {
    width: 50vw;
    margin: auto;
}
