.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.about div h3 {
    font-size: var(--size-3xl);
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 1em;
}

.about div p {
    font-size: var(--size-l);
    font-weight: 500;
    max-width: 55ch;
    line-height: 1.25em;
}
