.contact {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-itrems: start;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 45ch;
}

.contact h3 {
    font-size: var(--size-2xl);
    font-weight: 600;
    color: var(--primary);
}

.contact p {
    font-size: var(--size-l);
    font-weight: 500;
    max-width: 45ch;
    line-height: 1.5rem;
}

.contact p a {
    color: var(--primary);
}

#form {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 45ch;
    gap: 1rem;
}

#form label {
    font-size: var(--size-l);
    font-weight: 700;
    color: var(--accent);
}

#form textarea,
#form input {
    padding: 1rem;
    border-radius: 0.75rem;
    height: 2rem;
    background-color: var(--secondary);
    color: var(--background);
    border: none;
}

#form textarea {
    height: 20vh;
}

#form button {
    font-weight: 600;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 0.2rem;
    padding: 0.35rem;
    transition: all 0.1s;
    width: 5rem;
}

#form button:active {
    background-color: var(--secondary);
    transform: translateY(0.05rem);
}
