.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(1ch, 90vw, 45ch));
    place-content: center;
    margin-bottom: 4rem;
}

.contacts .main {
    padding-top: 4rem;
}

.contacts .main h3 {
    font-size: var(--size-2xl);
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 1rem;
}

.contacts .main p {
    font-size: var(--size-l);
    font-weight: 400;
    max-width: 55ch;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.contacts .main p a {
    font-size: var(--size-l);
    font-weight: 500;
    color: var(--primary);
}

#form {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 45ch;
    gap: 1rem;
}

#form label {
    font-size: var(--size-l);
    font-weight: 700;
    color: var(--accent);
}

#form textarea,
#form input {
    padding: 1rem;
    border-radius: 0.75rem;
    height: 2rem;
    background-color: var(--secondary);
    color: var(--background);
    border: none;
}

#form textarea {
    height: 20vh;
}

#form button {
    font-weight: 600;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 0.2rem;
    padding: 0.35rem;
    transition: all 0.1s;
    width: 5rem;
}

#form button:active {
    background-color: var(--secondary);
    transform: translateY(0.05rem);
}
