footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    margin-top: 4rem;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer ul a {
    font-size: var(--size-2xl);
    color: var(--accent);
    transition: color 0.3s;
}

.github:hover {
    color: #333;
}

.discord:hover {
    color: #7289da;
}

.email:hover {
    color: #bb001b;
}

footer p {
    color: var(--text);
    font-size: var(--size-base);
    font-weight: 500;
    padding: 1rem 0;
}
