.home {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(1ch, 90vw, 45ch));
    place-content: center;
}

.home {
    padding-top: 5rem;
}

.home h1 {
    font-size: var(--size-5xl);
    font-weight: 600;
    margin: 1rem 0rem;
}

.home p {
    font-size: var(--size-2xl);
    color: var(--accent);
    margin: 0.5rem 0rem;
}

.home .about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.home .about h2 {
    font-size: var(--size-2xl);
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 1rem;
}

.home .about p {
    font-size: var(--size-l);
    font-weight: 400;
    color: var(--foreground);
    line-height: 1.5rem;
}
