nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
    padding: 0.75rem 0rem;
    gap: 1.5rem;
}

.mobile {
    flex-flow: column;
}

nav ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

.mobile ul {
    flex-flow: column;
}

.logo,
nav ul li a {
    font-size: var(--size-l);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text);
    transition: all 0.1s;
}

.logo {
    font-size: var(--size-2xl);
    font-weight: 700;
}

nav ul li a:hover {
    color: var(--primary);
}

.icon,
nav button {
    font-weight: 500;
    background-color: var(--primary);
    color: var(--background);
    border-radius: 0.2rem;
    padding: 0.35rem;
    transition: all 0.1s;
}

.icon {
    font-size: var(--size-xl);
}

nav button:active {
    background-color: var(--secondary);
    transform: translateY(0.05rem);
}

.icon {
    display: none;
}

.hidden {
    display: none;
}

@media (max-width: 30rem) {
    .desktop .icon {
        display: inline-block;
    }

    .desktop ul {
        display: none;
    }
}
