.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(1ch, 90vw, 45ch));
    place-content: center;
    margin-bottom: 4rem;
}

.projects .main {
    padding-top: 4rem;
}

.projects .main h3 {
    font-size: var(--size-2xl);
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 1rem;
}

.projects .main p {
    font-size: var(--size-l);
    font-weight: 400;
    max-width: 45ch;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.projects .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 0.6rem;
    padding-top: 4rem;
}

.projects .list .box {
    height: 100px;
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 10px;
    transition: all 0.1s;
}

.projects .list .box:has(a:active) {
    background-color: var(--secondary);
    transform: translateY(0.05rem);
}

.projects .list .box a {
    color: var(--background);
}

.projects .list .box h4 {
    margin-bottom: 1rem;
}

.projects img {
    height: 75px;
    width: 75px;
}
