.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(1ch, 90vw, 45ch));
    place-content: center;
}

.projects article {
    padding-top: 4rem;
}

.projects article h2 {
    font-size: var(--size-2xl);
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 1rem;
}

.projects article p {
    font-size: var(--size-l);
    font-weight: 400;
    max-width: 45ch;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(1ch, 90%, 50ch));
    gap: 0.6rem;
    padding-top: 4rem;
}

.projects ul .box {
    padding: 1rem;
    background-color: var(--primary);
    border-radius: 10px;
    transition: all 0.1s;
}

.projects ul .box:has(a:active) {
    background-color: var(--secondary);
    transform: translateY(0.05rem);
}

.projects ul .box a {
    color: var(--background);
}

.projects ul .box h3 {
    font-size: var(--size-base);
    font-weight: 500;
    margin-bottom: 1rem;
}

.projects ul .box p {
    font-size: var(--size-base);
    color: var(--background);
}
