.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(20rem, 60%, 35rem));
    place-content: start;
    margin-bottom: 4em;
}

.projects .main {
    padding-top: 4em;
}

.projects .main h3 {
    font-size: var(--size-3xl);
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 1em;
}

.projects .main p {
    font-size: var(--size-l);
    font-weight: 500;
    max-width: 55ch;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.projects .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: .6em;
    padding-top: 4em;
}

.projects .list .box {
    height: 140px;
    padding: 1em;
    background-color: var(--secondary);
    border-radius: 10px;
}

.projects .list .box a {
    color: var(--text);
}

.projects .list .box h4 {
    margin-bottom: 1em;
}

.projects img {
    height: 75px;
    width: 75px;
}
